@page "/CustomPage"
<style>
    body {
        background-color: #B5C4B5;
        
       
    }
    .CustomCircle1 {
        position: absolute;
        top: 10%;
        width: 20vw;
        height: 5vh;
        background: #D9D9D9; 
        border-radius: 20px"
        
    
    }
</style>

<div class="Rectangle8" style="width: 80vw; height: 85vh; background: #804D6E; border-radius: 37px"></div>

<div class="CustomCircle1"></div>
